@charset "UTF-8";
/* CSS Document */



.container{
	width:1020px;
	margin: 0 auto;
			

}


header{ 
background-color: lightslategrey;
width: 100%;
height: 150px;
font-size: 125px;
text-align: center;
	padding-top: 50px;
		
	
}


nav{background-color:lightgrey;
	width:100%;
	height: 35px;
	marigin-left: 25px;
}

.music{
	text-align: center;
	background-color: grey;
	width: 1020px;
	margin:0 auto

}

#daylight{
	text-align: center;
	width:33%;
	background-color: lightslategrey;
	height:400px;
	float:left;
	border-bottom-style: solid;
	border-top-style: solid;
	border-left-style: solid;


	


	
}

	
#deftones{
	text-align: center;
	width:32%;
	background-color: lightslategrey;
	height:400px;
	float:left;
	border-bottom-style: solid;
	border-top-style: solid;
	

	
	
	
	
}


	
#strokes{
	text-align: center;
	width:34%;
	background-color: lightslategrey;
	height:400px;
	float:left;
	border-bottom-style: solid;
	border-top-style: solid;
	border-right-style: solid

}	
	


