@charset "UTF-8";
/* CSS Document */


.container{ 
	background-color: blue;
	margin-top: 70px;
	
	
	


}


header{ 
background: #289070;
width: 100%;
height: 150px;
font-size: 125px;
text-align: center;
	padding-top: 5px
		
	
}







nav{background-color: aquamarine;
	width:100%;
	height: 35px;
	marigin-left: 25px;
}

#life{background-color: mediumpurple;
	width:33%;
	height:400px; 
	float: left; 
}

#liberty{background-color: darkorchid;
	width: 34%;
	height:400px;
	float: right;
	
}

#Pursuit of Happiness{background-color: midnightblue;
	width:33%;
	height:400px;
	float:left;
}

p{color: white;
		text-align: center;}
section{
	text-align: center;

}