@charset "UTF-8";
/* CSS Document */



.container{
	width:1020px;
	margin: 0 auto;
			

}


header{ 
background-color: lightslategrey;
width: 100%;
height: 150px;
font-size: 125px;
text-align: center;
	padding-top: 50px;
		
	
}


nav{background-color:lightgrey;
	width:100%;
	height: 35px;
	marigin-left: 25px;
	
}

.music{
	text-align: center;
	background-color: grey;
	width: 1020px;
	margin:0 auto

}

#daylight{
	text-align: center;
	width:31%;
	background-color: lightslategrey;
	height:440px;
	float:left;
	border-top-style: solid;
	border-left-style: solid;
	padding: 10px;

	


	
}

#list{text-align: left}

#fisheye{padding-left: 20px}
	
#deftones{
	text-align: center;
	width:32%;
	background-color: lightslategrey;
	height:460px;
	float:left;
	border-top-style: solid;
	

	
	
	
	
}

#canon{
	width: 150px;
}
	
#sony{
	width:150px;
	
	
}


#strokes{
	text-align: center;
	width:34.43%;
	background-color: lightslategrey;
	height:460px;
	float:left;
	border-top-style: solid;
	border-right-style: solid

}	
	

#exposure{
	width: 300px;
	height:175px;
}

#pvideo{
	text-align: center;
	align-content: center;
	
	
}

#video{ 
	background-color: lightslategrey;
	border-right-style: solid;
	border-left-style:solid;
	align-items: center;
}


	
	
	
	
	


	
		
		
		
		
